.subscription {
	background-color: var(--primary);
	border: 2px solid var(--action);
	border-radius: var(--rounded1);
	padding: 20px;
	display: flex;
	align-items: center;
	position: relative;
}

.subscription i {
	font-size: 4em;
	color: var(--action);
	margin-right: 25px;
}

.subscription-cancel {
	background-color: transparent;
	border: none;
	color: var(--error);
	position: absolute;
	top: 10px;
	right: 10px;
	font-weight: 500;
}

.subscription-title {
	font-size: 18px;
	color: var(--action);
}

.subscription-description {
	font-size: 14px;
}
