.like-swipe {
	border-radius: 100%;
	padding: 8px 7px 7px 7px;
	background-color: #f7cbcb;
}

.rounded-img {
	border-radius: 20px;
	width: 225px;
	height: 225px;
	position: relative;
}
.secondSong {
	position: absolute;
	z-index: -1;
	width: 70%;
	height: 70%;
	opacity: 50%;
	top: 0;
	left: 0;
}

.liked-song {
	animation: toRight 2s forwards ease-in-out;
}

.unliked-song {
	animation: toLeft 2s forwards ease-in-out;
}

.appear-to-right {
	animation: appearToRight 2s forwards ease-in-out;
}

.appear-to-left {
	animation: appearToLeft 2s forwards ease-in-out;
}

@keyframes appearToRight {
	0%   {left:0px; top:0px;}
  	80%  {left:10%; top:0px; transform: rotate(10deg);}
	100% {opacity: 100%; width: 100%; height: 100%;}
}

@keyframes appearToLeft {
	0%   {left:0px; top:0px;}
  	80%  {left:-10%; top:0px; transform: rotate(-10deg);}
	100% {opacity: 100%; width: 100%; height: 100%;}
}

@keyframes toRight {
	0%   {left:0px; top:0px;}
  	80%  {left:100%; top:0px; transform: rotate(10deg);}
	100% {opacity: 0}
}

@keyframes toLeft {
	0%   {left:0px; top:0px;}
  	80%  {left:-100%; top:0px; transform: rotate(-10deg);}
	100% {opacity: 0}
}

.cancel-color {
	color: #808080;
}

.like-color {
	color: #e80000;
}

.swipe-img-container {
	position: relative;
	width: 225px;
}
